@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { padding: 0; margin: 0; box-sizing: border-box; }
a { color: inherit; text-decoration: none; }
img { vertical-align: middle; }
ul, ol { list-style-type: none; }
.blind { position: absolute; 
    text-indent: -9999999px;
    width: 0; height: 0; 
    overflow: hidden; }
body { font-family: 'Roboto'; }



/* 모바일 전용 디자인 */
#onlyMobile { position: fixed; 
    width: 100vw; 
    height: 100vw; 
    top: 0; left: 0; 
    background:  #00af68;
    color: #fff;
    font-size: 20px; 
    z-index: 9999999999;
    display: flex; 
    align-items: center; 
    justify-content: center; }
#onlyMobile img { width: 300px; }

@media screen and (max-width:768px) {
    #onlyMobile { display: none;}
}



/* 헤더구역 고정시키기 */
#header { height: 95px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); }
#header.on { position: fixed; 
    top: 0; left: 0; right: 0; 
    z-index: 999999; }
#header .row { max-width: 768px; 
    margin: 0 auto; 
    background: #fff;
    padding: 0 20px; }
#header .hello { padding: 10px 0 5px 0; font-size: 20px; }
#header .header_nav { display: flex; padding: 10px 0; }
#header .header_nav .header_noti { width: 98%; font-size: 13px; }
#header .header_nav .header_noti a { padding-right: 20px; }
#header .header_nav .header_noti i { padding-right: 10px; color: #00af68; }
#header .header_nav .header_set { width: 2%; font-size: 18px; }

/* 퀵메뉴 박스 처음부터 fixed */
#footer { margin-bottom: 59px; }
#quickMenu { position: fixed;
    bottom: 0; right: 0; left: 0; 
    height: 59px; z-index: 999999; 
    background: #fff;
    color: #999; }
#quickMenu .row { display: flex; max-width: 768px; 
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px; 
    text-align: center;  }
#quickMenu .icon { padding: 0 10px;}
#quickMenu .icon i { display: block; 
    font-size: 20px; }
#quickMenu .icon span { font-size: 12px; }
#quickMenu .icon:hover, 
#quickMenu .icon.current { color: #00af68; }




/* reward */
.reward { background: #1e3932; 
    padding: 20px;
    margin-bottom: 10px; }
.reward span { color: #c7c7c5; 
    font-weight: bold; 
    font-size: 12px; 
    letter-spacing: 2px; }
.reward .reward_counter { display: flex; 
    padding: 10px 0; 
    position: relative;}
.reward .reward_counter h2 { color: #fff; 
    font-size: 35px; 
    width: 50%; }
.reward .reward_counter h2 p { color: #00af68; 
    display: inline-block; 
    font-size: 17px; }
.reward .reward_counter > p { color: #00af68; 
    width: 50%;
    text-align: right;
    margin-top: 20px; }
.reward .reward_counter > p strong { color: #fff; }
.reward .reward_counter > p:after { position: absolute;
    content: ''; 
    top: 90%; left: 5px;
    width: 30%; height: 8px; 
    background: #000;
    border-radius: 5px; 
    padding-left: 20px; }
.reward .reward_btn { padding: 20px 0 10px; }
.reward .reward_btn a { padding: 8px 15px; 
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: transparent; 
    border: 1px solid #fff; 
    border-radius: 50px;
    cursor: pointer; }


/* rewards_bf */
.rewards_bf { background: #1e3932; 
    padding: 20px;
    margin-bottom: 10px; }
.rewards_bf span { color: #c7c7c5; 
    font-weight: bold; 
    font-size: 12px; 
    letter-spacing: 2px; }
.rewards_bf_container { display: flex; }
.rewards_bf_content { width: 100%; 
    z-index: 999;}
.rewards_bf h2 { color: #fff; 
    font-size: 18px;  
    padding: 20px 0; 
    letter-spacing: 2px;
    font-weight: normal; }
.rewards_bf h5 { color: #fff; 
    font-weight: normal; }
.rewards_bf p { color: #fff;
    font-size: 10px; 
    padding: 10px 0; }
.rewards_bf .rewards_bf_btn { padding: 20px 0 10px; }
.rewards_bf .rewards_bf_btn a { padding: 8px 15px; 
    font-size: 13px;
    font-weight: bold;
    color: #1e3932;
    background: #fff;
    border: 1px solid #fff; 
    border-radius: 50px;
    cursor: pointer; }
.rewards_bf_img { width: 50%; 
    position: relative;}
.rewards_bf_img img { width: 150px; 
    position: absolute;
    top: 30px; right: 0; }


/* mobileOrder */
.mobileOrder { background: #2e2926; 
    padding: 20px; 
    margin-bottom: 10px; }
.mobile_container { display: flex; }
.mobileOrder span { color: #c7c7c5; 
    font-weight: bold; 
    font-size: 12px; 
    letter-spacing: 2px; }
.mobileOrder .mobile_content { 
    padding-top: 10px; 
    width: 100%; }
.mobileOrder .mobile_content h2 { color: #fff; 
    font-size: 25px; }

.mobileOrder .mobile_btn { padding-top:40px; }
.mobileOrder .mobile_btn a { padding: 8px 15px; 
    font-size: 13px;
    font-weight: bold;
    color: #2e2926;
    background: #fff; 
    border: 1px solid #fff; 
    border-radius: 50px;
    cursor: pointer; }

.mobileOrder .moblie_img { width: 50%; }
.mobileOrder .moblie_img img { width: 150px; }



/* daily */
.daily { background: url(../images/img_daily.jpg) no-repeat; 
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-bottom: 10px; }
.daily .daily_container { width: 100%; height: 400px;
    padding: 80px 20px; }
.daily span { color: #fff; 
    font-weight: bold; 
    font-size: 12px; 
    letter-spacing: 2px; }
.daily h2 { color: #fff; 
    font-size: 25px; 
    font-weight: normal; 
    padding-top: 10px;}
.daily h3 { color: #fff; 
    font-size: 25px;
    letter-spacing: 2px;
    padding-top: 20px; }
.daily h3 strong { color: #9e104f; }
.daily .daily_btn { padding-top: 50px; }
.daily .daily_btn a { padding: 8px 15px; 
    font-size: 13px;
    font-weight: bold;
    color: #2e2926;
    background: #fff; 
    border: 1px solid #fff; 
    border-radius: 50px;
    cursor: pointer; }



/* notebook */
.notebook { background: url(../images/img_notebook.png) no-repeat; 
    background-position: center;
    background-size: cover;
    width: 100%; }
.notebook_container { width: 100%; height: 400px;
    padding: 100px 20px; }
.notebook span { color: #c7c7c5; 
    font-weight: bold; 
    font-size: 12px; 
    letter-spacing: 2px; }
.notebook h2 { color: #fff; 
    font-size: 25px;
    padding-top: 10px; }
.notebook .notebook_btn { padding-top: 30px; }
.notebook .notebook_btn a { padding: 8px 15px; 
    font-size: 13px;
    font-weight: bold;
    color: #2e2926;
    background: #fff; 
    border: 1px solid #fff; 
    border-radius: 50px;
    cursor: pointer; }



/* nearbystore */
.nearbystore { background: #eee; 
    padding: 10px 0; }
.nearby_container { background: #fff; display: flex;}
.nearby_content { width: 50%;
    padding: 80px 20px; }
.nearbystore span { color: #c7c7c5; 
    font-weight: bold; 
    font-size: 12px; 
    letter-spacing: 2px; }
.nearbystore h5 { padding-top: 10px; }
.nearby_map { width: 50%; }
.nearby_map iframe { width: 100%; height: 300px; }
.nearbystore .nearbystore_btn { padding-top: 50px;}
.nearbystore .nearbystore_btn a { padding: 8px 15px; 
    font-size: 13px;
    font-weight: bold;
    color: #000;
    background: #fff; 
    border: 1px solid #000; 
    border-radius: 50px;
    cursor: pointer; }



/* product */    
.product { background: #eee; padding-bottom: 10px;}
.product_container { background: #fff; padding: 20px; }
.product span { color: #c7c7c5; 
    font-weight: bold; 
    font-size: 12px; 
    letter-spacing: 2px; }
.product_img { display: flex; 
    justify-content: space-between;
    align-items: center; }
.product_img img { 
    height: 33.33%; 
    width: 33.33%;
    padding: 20px 10px; 
    border-radius: 50%; }
.product .product_btn { padding-top: 20px; }
.product .product_btn a { padding: 8px 15px; 
    font-size: 13px;
    font-weight: bold;
    color: #000;
    background: #fff; 
    border: 1px solid #000; 
    border-radius: 50px;
    cursor: pointer; }




/* chargePage_btn */
/* .chargePage_btn { position: fixed; 
    bottom: 80px; right: 10px; 
    z-index: 9999999; }
.chargePage_btn a { padding: 15px 10px; 
    font-size: 18px;
    color: #fff;
    background: #00af68;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); } */

/* joinPage_btn */
.joinPage_btn { position: fixed; 
    bottom: 80px; right: 10px; 
    z-index: 9999999; }
.joinPage_btn a { padding: 15px 10px; 
    font-size: 18px;
    color: #fff;
    background: #00af68;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }


/* loginPage_btn */
.loginPage_btn { position: fixed; 
    bottom: 140px; right: 10px; 
    z-index: 9999999; }
.loginPage_btn a { padding: 10px 20px; 
    font-size: 18px;
    color: #000;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }






/* 세부 페이지 reward.html */
/* .reward_container { background: #1e3932; }
#reward_header { height: 94px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
    background: #1e3932;}
#reward_header.on { position: fixed; 
    top: 0; left: 0; right: 0; 
    z-index: 999999; } 
#reward_header .row { max-width: 768px; 
    margin: 0 auto; 
    color: #fff;
    padding: 0 20px; }
#reward_header .close_btn { padding-top: 20px;
    padding-left: 2px;
    font-size: 20px; }
#reward_header h1 { padding: 10px 0;
    font-size: 25px;}
#reward_header h1 p { display: inline-block; 
    font-size: 10px; }
 
.reward_counter_detail { padding: 20px; }
.reward_counter_detail h2 { color: #fff; 
    font-size: 35px; }
.reward_counter_detail h2 p { color: #00af68; 
    display: inline-block; 
    font-size: 17px; }
.reward_counter_detail > p { color: #fff;
    margin-top: 10px; }
.reward_counter_detail > p:after { position: absolute;
    content: ''; 
    top: 200px; left: 20px;
    width: 80%; height: 20px; 
    border: 2px solid #00af68;
    background: #000;
    border-radius: 20px; 
    padding-left: 20px; }

.reward_counter_detail .reward_btn { padding: 70px 0 10px; }
.reward_counter_detail .reward_btn a { padding: 7px 15px; 
    font-size: 13px;
    color: #fff;
    background: transparent; 
    border: 1px solid #fff; 
    border-radius: 50px;
    cursor: pointer; }

.member_status { padding: 20px; }
.member_status span { color: #c7c7c5; 
    font-weight: bold; 
    font-size: 12px; 
    letter-spacing: 2px; }
.member_status h2 { color: #fff; 
    font-size: 25px; 
    font-weight: normal; 
    padding-top: 10px; }
.member_status h5 { color: #fff;
    font-size: 15px; 
    padding: 10px 0; 
    font-weight: normal; }
.member_status h6 { color: #c7c7c5;
    font-size: 10px; 
    font-weight: normal;}

.reward_more { text-align: center;
    padding: 50px 0;
    color: #fff; }
.reward_more > img { padding-top: 20px;
    width: 40%; }
.reward_more h3 { padding: 40px 0; }

.reward_more p { font-size: 14px;}

.reward_img { display: flex; 
    padding: 50px; }
.reward_img > div { width: 33.33%; }
.reward_img > div img { width: 70%; }
.reward_img > div p { padding-top: 10px;
    font-size: 10px; }


.reward_more_btn { padding: 10px 0 80px; }
.reward_more_btn a { padding: 8px 15px; 
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: transparent; 
    border: 1px solid #fff; 
    border-radius: 50px;
    cursor: pointer; } */





/* 세부 페이지 rewardsbf.html */
.rewardsbf_container { background: #fff;
    height: 650px; }
#rewardsbf_header { height: 94px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
    background: #1e3932; }
#rewardsbf_header.on { position: fixed; 
    top: 0; left: 0; right: 0; 
    z-index: 999999; } 
#rewardsbf_header .row { max-width: 768px; 
    margin: 0 auto; 
    color: #fff;
    padding: 0 20px; }
#rewardsbf_header .close_btn { padding-top: 20px;
    padding-left: 2px;
    font-size: 20px; }
#rewardsbf_header h1 { text-align: center;}
#rewardsbf_header h1 img { padding: 8px 0;
    width: 120px; }
 


.rewards_p1 { text-align: center;
    background: #1e3932; 
    padding: 50px 0 210px; }
.rewards_p1 h2 { padding-bottom: 30px;
    color: #fff; }
.rewardsbf_list { padding: 10px 10px; }
.rewardsbf_list li { width: 25%;
    background: #eee; 
    display: inline-block;
    margin: 5px; }
.rewardsbf_list li img { width: 90%;
    padding-top: 10px; }
.rewardsbf_list li p { 
    font-size: 11px;
    letter-spacing: 1px; 
    font-weight: bold;
    padding: 10px 0;}
    
.rewards_p2 { color: #fff; 
    text-align: center; 
    background: #1e3932; 
    padding: 50px 0 150px; }
.rewards_p2 h2 { padding-bottom: 30px; }
.rewards_p2 span { font-size: 15px; }
.rewardsbf2_content { display: flex;
    padding: 0 20px; }
.rewardsbf2_sp { padding: 20px 0;
    width: 50%;
    display: flex; }
.rewardsbf2_sp img { width: 40% } 
.rewardsbf2_sp p { width: 100%; 
    padding: 35px 0 0 10px;
    font-size: 12px;
    text-align: left;
    color: #fff; }
.rewardsbf2_bg {background-image: url(../images/rewards_bg1.jpg);
    height: 200px; width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px; }
    
.rewards_p3 { color: #fff; 
    text-align: center; 
    background: #00af68; 
    padding-bottom: 130px; }
.rewards_p3 h2 { padding: 50px 0 30px; }
.rewards_p3 span { font-size: 15px; }
.rewards_p3 img { display: block; 
    margin: 0 auto;
    padding: 50px 0;
    width: 50%;}

.rewards_p4 { color: #fff; 
    text-align: center; 
    background: #d2a04a;
    padding-bottom: 160px; }
.rewards_p4 h2 { padding: 50px 0 30px; }
.rewards_p4 span { font-size: 15px;
    display: block;
    padding-bottom: 50px; }
.rewards_p4 img { margin: 0 auto;
    width: 50%;}
.rewards_p4 p { padding: 40px; 
    font-size: 15px;}



.rewardsOuter { position: relative;
    overflow: hidden; }
.rewardsOuter .slick-dots { position: absolute; 
    bottom: 100px; width: 100%;
    text-align: center; }
.rewardsOuter .slick-dots li { display: inline-block; }
.rewardsOuter .slick-dots li button {
    background: #000;
    border: none;
    height: 10px; width: 10px;
    border-radius: 50%; 
    text-indent: -99999px; 
    overflow: hidden; 
    margin: 0 5px;}
.rewardsOuter .slick-dots li.slick-active button { background: #fff; }
.rewardsInner { height: 650px;
    overflow: hidden; }






/* 세부 페이지 mobileOrder.html */
#mobileOrder_header { height: 123px;
    background: #fff; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); }

#mobileOrder_header.on { position: fixed; 
    top: 0; left: 0; right: 0; 
    z-index: 999999; } 
#mobileOrder_header .row { max-width: 768px; 
    margin: 0 auto; 
    padding: 0 20px; }
#mobileOrder_header .guide_btn { padding-top: 20px;
    text-align: right;
    font-size: 18px; 
    color: #00af68; }
#mobileOrder_header h1 { padding: 10px 0;
    font-size: 25px; }
#mobileOrder_header .mobileOrder_nav a { display: inline-block; 
    font-size: 15px; 
    padding: 0 10px 10px 10px; }
#mobileOrder_header .mobileOrder_nav a.current { 
    border-bottom: 2px solid #00af68; }



.mobileOrder_detail { background: #eee; }
.mobileOrder_list1 { margin-bottom: 10px; }
.mobileOrder_list1 , .mobileOrder_list2 a { padding: 20px;
    background: #fff; 
    border-bottom: 1px solid #ddd; }
.mobileOrder_list2 a { display: block;
    position: relative; }
.mobileOrder_list .depth1 i { color: #666;}
.mobileOrder_list .depth1 i:nth-child(1) { padding-right: 10px; }
.mobileOrder_list .depth1 i:nth-child(2) { position: absolute;
    right: 20px; }

.mobileOrder_total { text-align: right; 
    padding: 30px 20px; 
    font-size: 15px; }
.mobileOrder_total p { padding-bottom: 7px;
    color: #666;  }   
.mobileOrder_total span { color: #000; 
    font-size: 20px;
    font-weight: bold; 
    padding-bottom: 7px; }
.mobileOrder_total .deposit_btn { padding: 20px 0; }
.mobileOrder_total .deposit_btn a {
    padding: 7px 15px; 
    font-size: 13px;
    color: #00af68;
    background: transparent; 
    border: 1px solid #00af68; 
    border-radius: 50px;
    cursor: pointer; }


.mobileOrder_payment { text-align: center;
    padding: 30px 0; }
.mobileOrder_payment > a:nth-child(1) { color: #666; 
    text-decoration: underline;
    font-size: 13px; }
.mobileOrder_payment .nickname { color: #00af68; 
    padding-right: 20px;
    text-align: right;
    font-size: 15px; }
.mobileOrder_payment .payment_btn { padding: 40px 0; }
.mobileOrder_payment .payment_btn a { padding: 15px 100px; 
    font-size: 15px;
    color: #fff;
    background: #999; 
    border-radius: 50px;
    cursor: pointer; }


.mobileOrder_history { background: #eee;
    overflow: hidden; 
    height: 612px;}
.mobileOrder_history img { margin: 0 auto; 
    padding: 50px 0 20px;
    display: block;
    width: 30%;}
.mobileOrder_history > div { padding: 0 20px; }
.mobileOrder_history h5 { font-size: 15px; 
    padding-top: 20px; }
.mobileOrder_history p { font-size: 13px; 
    color: #666;
    padding: 20px 0;}
    
.mobile_order > div.on { display: block; }
.mobile_order > div { display: none; }

    

/* 세부 페이지 storeSelect.html */
#storeSelect_header { height: 123px;
    background: #fff; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); }
#storeSelect_header.on { position: fixed; 
    top: 0; left: 0; right: 0; 
    z-index: 999999; } 
#storeSelect_header .row { max-width: 768px; 
    margin: 0 auto; 
    padding: 0 20px; }
#storeSelect_header .prev_btn { padding-top: 18px;
    padding-left: 2px;
    font-size: 20px; }
#storeSelect_header h1 { padding: 10px 0;
    font-size: 25px; }
#storeSelect_header .storeSelect_nav a { display: inline-block; 
    font-size: 15px; 
    padding: 0 10px 10px 10px; }
#storeSelect_header .storeSelect_nav a.current { 
    border-bottom: 2px solid #00af68; }

.map_storeselect iframe { width:100%; height:500px; margin:0px auto 30px; display:block }
.nearby_storeselect { background: #eee;
    overflow: hidden; 
    height: 500px; }
.nearby_storeselect h3 { text-align: center;
    padding: 200px 0;
    font-weight: normal;
    font-size: 18px;
    color: #666; }

.store_select > div.on { display: block; }
.store_select > div { display: none; }




/* 퀵메뉴 map.html */
#content { position: relative;}
#map_header { height: 90px;
    padding: 52px 0 10px;
    background: #fff; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); }
#map_header .row { max-width: 768px; 
    margin: 0 auto; 
    padding: 0 20px;
    display: flex; }
#map_header h1 { width: 100%; }
#map_header a { text-align: right;
    font-size: 22px;
    color: #666; }

.mapSearch { position: fixed;
    bottom: 60px; right: 10px; }
.mapSearch a { color: #666;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #fff;
    border-radius: 50px;
    display: block;
    padding: 9px;
    margin-bottom: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }
.mapContent iframe { width:100%; height:500px; margin:0px auto 30px; display:block }





/* login.html */
#login_header { height: 94px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }
#login_header.on { position: fixed; 
    top: 0; left: 0; right: 0; 
    z-index: 999999; } 
#login_header .row { max-width: 768px; 
    margin: 0 auto; 
    background: #fff; 
    color: #000;
    padding: 0 20px; }
#login_header .close_btn { padding-top: 20px;
    padding-left: 2px;
    font-size: 20px; }
#login_header h1 { padding: 10px 0;
    font-size: 25px;}
#login_header h1 p { display: inline-block; 
    font-size: 10px; }


.loginContent { background: #fcfcfc; }
fieldset { border: none; padding: 20px; }
legend { display: none }

#login_box p { margin: 15px; 
    position: relative;}
#login_box label { display: inline-block; 
    width: 100px; 
    height: 30px;
    vertical-align: middle; 
    line-height: 30px; 
    color: #666; 
    font-size: 14px;}
#login_box input { display: block; 
    border: none;
    border-bottom: 1.5px solid #ddd;
    background: #fcfcfc;
    width: 100%; 
    height: 30px; 
    line-height: 30px; }
#login_box p i { position: absolute;
    top: 35px; right: 10px; 
    color: #666; }
#login_box input:hover { border-bottom: 1.5px solid #00af68;
    transition: all 0.5s; }

.login_more { padding: 20px; }
.login_more a { color: #666;
    text-decoration: underline;
    font-size: 13px; }
.login_more p { color: #333;
    font-size: 13px;
    padding-top: 20px;}



/* login_btn */
.login_btn { position: fixed; 
    bottom: 80px; right: 10px; 
    z-index: 9999999; }
.login_btn a { padding: 15px 20px; 
    font-size: 18px;
    color: #fff;
    background: #999; 
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }



/* joinPage1.html, joinPage2.html */
.joinPageContent { background: #fcfcfc; }
#join_header { height: 94px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
    background: #fff; 
    position: relative; }
#join_header.on { position: fixed; 
    top: 0; left: 0; right: 0; 
    z-index: 999999; } 
#join_header .row { max-width: 768px; 
    margin: 0 auto; 
    color: #000;
    padding: 0 20px; }
#join_header .prev_btn { padding-top: 20px;
    padding-left: 2px;
    font-size: 20px; }
#join_header h1 { padding: 10px 0;
    font-size: 25px;
    display: inline-block; }
#join_header h1 p { display: inline-block; 
    font-size: 10px; }
#join_header span { float: right;
    display: block;
    font-size: 15px; 
    position: absolute;
    bottom: 15px; right: 20px; }

#join_box h3 { font-size: 18px; 
    padding: 10px 0; }
#join_box span { font-size: 13px;
    color: #666; 
    display: block;
    padding-bottom: 20px; }
#join_box p { margin: 15px; 
    position: relative; }

#join_box label { display: inline-block; 
    width: 100px; 
    height: 30px;
    vertical-align: middle; 
    line-height: 30px; 
    color: #666; 
    font-size: 14px; }
#join_box input { display: block; 
    border: none;
    border-bottom: 1.5px solid #ddd;
    background: #fcfcfc;
    width: 100%; 
    height: 30px; 
    line-height: 30px; }
#join_box input:hover { border-bottom: 1.5px solid #00af68;
    transition: all 0.5s; }

.join_more { text-align: center;
    padding-top: 20px; }
.join_more a { color: #d7ad79; 
    text-decoration: underline;
    font-size: 13px; }
.join_more p { font-size: 13px;
    padding: 10px; }
.join_more input { margin-right: 5px; }

/* join_btn */
.join_btn { padding: 40px 0; 
    text-align: center; }
.join_btn a { padding: 15px 100px; 
    font-size: 15px;
    color: #fff;
    background: #999; 
    border-radius: 50px;
    cursor: pointer; }
.join_btn:hover a { background: #00af68;
    transition: all 0.5s; }


/* welcome.html */
.welcomeContent { background: #1e3932; }
#welcome_header { height: 94px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
    background: #1e3932; 
    position: relative; }
#welcome_header.on { position: fixed; 
    top: 0; left: 0; right: 0; 
    z-index: 999999; } 
#welcome_header .row { max-width: 768px; 
    margin: 0 auto; 
    color: #000;
    padding: 0 20px; }
#welcome_header .prev_btn { padding-top: 20px;
    padding-left: 2px;
    color: #fff;
    font-size: 20px; }
#welcome_header h1 { padding: 10px 0;
    font-size: 25px;
    color: #fff;
    display: inline-block; }
#welcome_header h1 p { display: inline-block; 
    font-size: 10px; }
#welcome_header span { float: right;
    color: #fff;
    display: block;
    font-size: 15px; 
    position: absolute;
    bottom: 15px; right: 20px; }

#welcome_box { padding: 30px 20px 20px; 
    text-align: center; }
#welcome_box h2 img { width: 50%;
    padding: 20px 0; }
#welcome_box span { font-size: 13px;
    color: #fff;
    display: block;
    padding-bottom: 15px; }
#welcome_box span:nth-of-type(1) { text-align: center; }

#welcome_box h4 { font-size: 18px; 
    padding: 20px 0 8px; 
    color: #00af68; }
#welcome_box > a { text-decoration: underline;
    color: #fff;
    display: block;
    font-size: 13px;
    padding: 10px 0; } 


#welcome_box h3 { font-size: 20px; 
    padding: 40px 0 10px; 
    color: #fff; }
#welcome_box span a { color: #d7ad79; 
    text-decoration: underline; }

.welcome_btn { padding: 20px 0 60px; 
    text-align: center; }
.welcome_btn a { padding: 10px 40px; 
    font-size: 15px;
    color: #fff;
    border: 2px solid #fff;
    background: transparent; 
    border-radius: 50px;
    cursor: pointer; }
.welcome_btn:hover a { background: #fff;
    color: #1e3932;
    transition: all 0.5s; }




/* pay.html */
.payContent { background: #fff; }
#pay_header { height: 94px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    background: #fff; 
    position: relative; }
#pay_header.on { position: fixed; 
    top: 0; left: 0; right: 0; 
    z-index: 999999; } 
#pay_header .row { max-width: 768px; 
    margin: 0 auto; 
    color: #000;
    padding: 0 20px; }
#pay_header .payAdd_btn { padding-top: 20px;
    text-align: right;
    font-size: 18px; 
    color: #00af68; }
#pay_header h1 { padding: 10px 0;
    font-size: 25px;
    color: #000;
    display: inline-block; }




.best_card { padding: 20px; }
.best_card h3 { display: inline-block; 
    font-size: 25px; }
.best_card p { display: block; 
    text-align: right; 
    font-size: 12px; 
    float: right; 
    padding-bottom: 5px;}
.best_card p a { display: block; 
    color: #00af68; 
    font-size: 15px; }
.best_card a img {
    width: 100%; }



.card_btn { padding: 20px 0 60px; 
    text-align: center; }
.card_btn a { padding: 6px 16px; 
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: #00af68;
    border: 1px solid #00af68;
    background: transparent; 
    border-radius: 50px;
    cursor: pointer; }

.other_card { padding: 20px 10px 300px; }
.other_card h5 { color: #666;
    padding: 10px;}
.card_list li { display: block; 
    width: 50%; 
    padding: 5px; 
    float: left; }
.card_list li p { text-align: right;
    padding-right: 5px;
    padding-bottom: 5px;
    color: #00af68;
    font-size: 15px; }
.card_list a > img { width: 100%; }


/* 세부 페이지 egift.html */
#egift_header { height: 123px;
    background: #fff; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); }

#egift_header.on { position: fixed; 
    top: 0; left: 0; right: 0; 
    z-index: 999999; } 
#egift_header .row { max-width: 768px; 
    margin: 0 auto; 
    padding: 0 20px; }
#egift_header .guide_btn { padding-top: 20px;
    text-align: right;
    font-size: 18px; 
    color: #00af68; }
#egift_header h1 { padding: 10px 0;
    font-size: 25px; }
#egift_header .egift_nav a { display: inline-block; 
    font-size: 15px; 
    padding: 0 10px 10px 10px; }
#egift_header .egift_nav a.current { 
    border-bottom: 2px solid #00af68; }

.egift_banner { background: #eee; }
.egift_banner img { width: 100%; }
.egift_banner h3 { padding: 30px 0;
    font-size: 15px;
    font-weight: normal;
    color: #666;
    text-align: center; }
.egift_list .depth1 li { padding: 20px; 
    border-bottom: 1px solid #ddd; }
.egift_list .depth1 img { border-radius: 50%;
    width: 70px;
    height: 70px; }
.egift_list .egift_text { display: inline-block;
    padding-left: 10px; 
    vertical-align: middle; 
    position: relative;}
.egift_text p { color: #666;
    padding-bottom: 5px;
    font-size: 15px;}
.egift_text h4 { padding-left: 2px;}
.egift_list i { font-size: 20px;
    color: #666; 
    position: absolute;
    right: 20px; 
    padding: 30px 0;}



.egift_preserved { background: #eee; 
    height: 580px;
    overflow: hidden; }
.egift_preserved img { width: 50%; 
    padding: 50px 0 20px; 
    display: block;
    margin: 0 auto; }
.egift_preserved > div { padding: 0 20px; }
.egift_preserved h5 { font-size: 15px;
    padding-top: 20px; }
.egift_preserved p { font-size: 13px; 
    color: #666;
    padding: 20px 0;}

.egift_history { background: #eee; 
    height: 580px;
    overflow: hidden; }
.egift_history img { width: 100%; 
    padding-bottom: 20px; 
    display: block;
    margin: 0 auto; }
.egift_history > div { padding: 0 20px; }
.egift_history h5 { font-size: 15px;
    padding-top: 20px; }
.egift_history p { font-size: 13px; 
    color: #666;
    padding: 20px 0;}


.egift_order > div.on { display: block; }
.egift_order > div { display: none; }
    